* {
    color: rgb(0, 0, 0);
}
.navbar{
    border: #008ed6 3px solid;
    opacity: 0.9;
    padding-bottom: 0;
}

.navbar-toggler-icon{
    color:rgb(205, 204, 236)
}

.navbar-toggler{
    background: rgba(54, 52, 218, 0.877);
}

#img1 {
    object-fit: contain;
}

#home{
    padding-top: 150px
}

#addresshead{
    color:rgba(35, 35, 49, 0.829)
}

#input1{
    padding-left:0;
}

#linkbut{
    background-color: darkslategray;
    color: whitesmoke;
}

#inputbutton:hover{
    background-color: antiquewhite;
    color: gray;
}

.blog-footer {
    position:relative;
    width:100%;
    height:90px;
    bottom:0;
    padding: 40px 0;
    text-align: center;
    background-color: cadetblue;
    border-top: 1px solid royalblue;
}

#footer-text{
    color:darkblue;
}

#msg{
    color:rgba(35, 35, 49, 0.829);
}

h5{
    color:rgba(35, 35, 49, 0.829);
}